* {
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url("img/s.jpg");
    /* background-color: hsla(0, 4%, 95%, 0.963); */
  
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .box {
    background-image: linear-gradient(
      rgba(32, 45, 227, 0.856),
      rgb(170, 120, 180)
    );
    margin-top: 100px;
    height: 460px;
    width: 300px;
    border-radius: 5px;
  }
  .head {
    height: 100px;
    width: 300px;
    color: white;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  #img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .content {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-decoration: wavy;
    height: 200px;
  }
  #but {
    width: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    padding: 8px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .footer {
    display: flex;
    /* padding: 20px; */
    width: 300px;
    height: 10px;
    justify-content: center;
  }
  
  a.footer-password {
    color: white;
  }
  ::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  .enter {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.12);
    height: 35px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* text-decoration: inherit; */
  }
  .check {
    margin-left: 8px;
  }
  